body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    margin: 0;
}

.card {
    width: 300px;
    padding: 20px;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
}

.container {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    text-align: left;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

input:invalid {
    border-color: red;
}

.endereco {
    display: none;
}

.radio-group {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
}

.checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
    background-color: #ccc;
    border-radius: 100%;
    background: #e8e8e8;
    box-shadow: 3px 3px 5px #c5c5c5, -3px -3px 5px #ffffff;
    transition-duration: 0.5s;
}

.container input:checked ~ .checkmark {
    box-shadow: inset 3px 3px 5px #c5c5c5, inset -3px -3px 5px #ffffff;
}

button {
    font: inherit;
    background-color: #f0f0f0;
    border: 0;
    color: #242424;
    border-radius: 0.5em;
    font-size: 1.35rem;
    padding: 0.375em 1em;
    font-weight: 600;
    text-shadow: 0 0.0625em 0 #fff;
    box-shadow: inset 0 0.0625em 0 0 #f4f4f4, 0 0.0625em 0 0 #efefef,
                0 0.125em 0 0 #ececec, 0 0.25em 0 0 #e0e0e0,
                0 0.3125em 0 0 #dedede, 0 0.375em 0 0 #dcdcdc,
                0 0.425em 0 0 #cacaca, 0 0.425em 0.5em 0 #cecece;
    transition: 0.15s ease;
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
}

button:active {
    translate: 0 0.225em;
    box-shadow: inset 0 0.03em 0 0 #f4f4f4, 0 0.03em 0 0 #efefef,
                0 0.0625em 0 0 #ececec, 0 0.125em 0 0 #e0e0e0,
                0 0.125em 0 0 #dedede, 0 0.2em 0 0 #dcdcdc,
                0 0.225em 0 0 #cacaca, 0 0.225em 0.375em 0 #cecece;
}
